.cube-container {
  transform-style: preserve-3d;
  position: absolute;

  &.animate {
    animation: rotate 10s infinite linear;
  }
}

.side {
  position: absolute;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  opacity: .8;
  background: #ffaf4b;
  background: -moz-linear-gradient(left, hsla(33,100%,65%,1) 0%, hsla(33,100%,52%,1) 100%);
  background: -webkit-linear-gradient(left, hsla(33,100%,65%,1) 0%,hsla(33,100%,52%,1) 100%);
  background: linear-gradient(to right, hsla(33,100%,65%,1) 0%,hsla(33,100%,52%,1) 100%);
}

@keyframes rotate {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
