html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: center -5em;
  background:
  	linear-gradient(#ccc, transparent),
  	linear-gradient(180deg, #dedede, transparent);
  background-blend-mode: screen;
}

#root {
  color: $default;
}
