html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: center -5em;
}

#root {
  color: $default;
}
